html,
body {
  /* flex:content; */
  margin: 0;
  /* padding: 0; */
  /* min-height: 100vh; 100% of the viewport height */
  height: 100vh;
  width: 100vw;
  /* overflow-y: auto; */
  background-color: black;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* box-sizing: border-box; */
}

.home,
.about {
  height: 100vh; /* Adjust the height as needed */
  width: 100vw; /* Adjust if necessary */
  /* overflow:scroll; /* This allows scrolling within each section if content overflows */
}

body {
  /* border: 10px double dodgerblue; */
  /* box-sizing: border-box; */

}

.home {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* background-color: blueviolet; */
}

.image-container,
.text-container,
.nav-container {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
  margin: 1%;
}

/* image section */
.image-container {
  /* background-color: red; */
}

.image-container img {
  border-radius: 36px;
  height: fit-content;
}

/* text section */
.text-container {
  /* background-color: blue; */
  text-align: center;
}

.title {
  font-size: 36px;
}

.name {
  color: dodgerblue;
}

.description {
  font-size: 24px;
}
/* nav section */
.nav-container {
  width: 30%;
  background-color: green;
  align-items: end;
  justify-content: center;
  position: relative;
}

.nav-wrapper {
  position: fixed;
  /* background-color: blue; */
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* position: relative; */
  gap: 40px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50px;
  background-color: #151b1f;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.button:hover {
  background-color: dodgerblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 150px;
}

.label {
  font-size: 20px;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: visibility 0s, opacity 0.3s ease-out, width 0.3s ease-out;
}

.button:hover .label {
  visibility: visible;
  opacity: 1;
  width: auto;
}

.active-button {
  background-color: dodgerblue;
}

/* about section */

.about {
  padding: 80px 0;
  /* margin-top: 50px; */
  color: white;
  /* background-color: tomato; */
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.about-col-1 {
  flex-basis: 40%;
}

.page-title {
  font-size: 60px;
  font-weight: 600;
  /* color: dodgerblue; */
}

.about-col-2 {
  flex-basis: 40%;
}

.about-col-2 img {
  width: 75%;
  border-radius: 36px;
}

.attributes {
  width: 100%;
  height: auto;
  /* background-color: purple; */
}

.tab-titles {
  display: flex;
  margin: 100px 0 40px;
  align-items: center;
  justify-content: space-evenly;
}

.tab-links {
  /* margin-left: 50px; */
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: dodgerblue;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-links {
  margin-left: 50px;
  font-size: 36px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: dodgerblue;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
  /* block-direction: column; */
  /* align-items: center; */
}

.tab-contents ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 200px 0 200px;
  /* align-items: center; */
  /* text-align: left; */
}

.tab-contents ul li {
  list-style-type: none;
  /* margin: 10px 0; */
  /* text-align: left; */
}

.skill-title {
  color: dodgerblue;
  font-size: 18px;
}

/* Services section */

.services {
  /* background-color: chartreuse; */
  padding: 0 30px 30px 30px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #151b1f;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 36px;
}
